<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Formulario Anuncio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-anuncio">
  <form [formGroup]="anuncioForm" (ngSubmit)="guardarAnuncio()" novalidate>
    <br>
    <ion-item>
      <ion-label style="color: #217E94; font-size: 21px" position="stacked">Descripción</ion-label>
      
      <ion-textarea style="color: #217E94; font-size: 15px" formControlName="descripcion" placeholder="Ingrese descripción..."></ion-textarea>
    </ion-item>
    <ion-text color="danger" *ngIf="anuncioForm.get('descripcion')?.invalid && anuncioForm.get('descripcion')?.touched">
      <div>{{ getErrorMessage('descripcion') }}</div>
    </ion-text>
    
    <br>

    <ion-item>
      <ion-label style="color: #217E94;">Categoría</ion-label>
      <ion-select formControlName="categoria">
        <ion-select-option *ngFor="let option of categoriaOptions" [value]="option.id">{{ option.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="anuncioForm.get('categoria')?.invalid && anuncioForm.get('categoria')?.touched">
      <div>{{ getErrorMessage('categoria') }}</div>
    </ion-text>
    
    <br>

    <ion-item>
      <ion-label style="color: #217E94;">Mascota</ion-label>
      <ion-select formControlName="mascota" (ionChange)="onMascotaChange($event)">
        <ion-select-option *ngFor="let option of mascotaOptions" [value]="option.id">
          <ion-label>{{ option.nombre }}</ion-label>
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-img class="mascota-image" *ngIf="mascotaSeleccionada" [src]="getFotoMascotaSeleccionada()"></ion-img>
    <ion-text color="danger" *ngIf="anuncioForm.get('mascota')?.invalid && anuncioForm.get('mascota')?.touched">
      <div>{{ getErrorMessage('mascota') }}</div>
    </ion-text>
    <ion-item lines="none">
      <ion-img src="../../../assets/imagenes/guatonignacio.png" alt="madCat" *ngIf="errorMessage"></ion-img>
      <ion-text color="danger" style="font-weight: bold;" *ngIf="errorMessage">
        <div>{{ errorMessage }}</div>
      </ion-text>
    </ion-item>
    <ion-button class="sticky-button" id="guardar-button" expand="full" type="submit" [disabled]="botonDeshabilitado || !anuncioForm.valid">
      {{ isEdit ? 'Guardar cambios' : 'Crear anuncio' }}
    </ion-button>
  </form>
</ion-content>
