.mascota-image {
    width: 200px; /* Ajusta el ancho según tus necesidades */
    height: 200px; /* Ajusta la altura según tus necesidades */
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }