<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Formulario Mascota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-mascotaedit">
  <form [formGroup]="mascotaForm" (ngSubmit)="guardarMascota()" novalidate>
    <ion-item>
      <ion-input  style="color: #217E94;" formControlName="nombre" placeholder="Nombre"></ion-input>
    </ion-item>
    <ion-text  color="danger" *ngIf="mascotaForm.get('nombre')?.invalid && mascotaForm.get('nombre')?.touched">
      <div style="padding-left: 17px;">{{ getErrorMessage('nombre') }}</div>
    </ion-text>
    <br>
    
    <ion-item>
      <ion-label style="color: #217E94;">Tipo de mascota</ion-label>
      <ion-select formControlName="tipoMascota" style="color: #217E94;">
        <ion-select-option *ngFor="let option of tipoMascotaOptions" [value]="option.id">{{ option.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="mascotaForm.get('tipoMascota')?.invalid && mascotaForm.get('tipoMascota')?.touched">
      <div>{{ getErrorMessage('tipoMascota') }}</div>
    </ion-text>


    <ion-item lines="none" class="ion-item-peteditform">
      <input formControlName="fotos" type="file" (input)="onFotosSelected($event)" multiple accept="image/*"
        class="hide-file-input" #fileInput>
      <ion-button style="padding-left: -10%; padding-right: -5%;" (click)="fileInput.click()" class="subirfoto-input-button" fill="clear" fill="outlined">
        <img src="../../assets/imagenes/cargarimg.png" alt="Subir Foto">
      </ion-button>
    </ion-item>
    <ion-text color="danger" *ngIf="mascotaForm.get('fotos')?.invalid && mascotaForm.get('fotos')?.touched">
      <div>{{ getErrorMessage('fotos') }}</div>
    </ion-text>
    <br>
    <ion-item *ngIf="fotos.length > 0 && fotos.length <= 2">
      <ion-label>Fotos seleccionadas:</ion-label>
      <ion-list lines="none">
        <ion-item *ngFor="let foto of fotos">
          {{ foto.name }}
        </ion-item>
      </ion-list>
    </ion-item>
    
    <ion-button class="sticky-button" id="guardar-button" expand="full" type="submit" [disabled]="!mascotaForm.valid || fotos.length === 0 || fotos.length > 2">
      {{ isEdit ? 'Guardar cambios' : 'Crear mascota' }}
    </ion-button>
  </form>
</ion-content>