<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Mis Mascotas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-mispets">
  <ion-text *ngIf="!pets" class="no-pets-text">
    No tienes mascotas registradas.
  </ion-text>

  <ion-item lines="none" class="content-container">
    <ion-list>
      <ion-item style="margin-top: 10px;" *ngFor="let pet of pets" class="custom-item">
        <ion-thumbnail slot="start" class="pet-thumbnail">
          <ion-img [src]="pet.foto_1" alt="Pet Image"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <ion-item>
            <ion-label class="custom-label" style="color: #217E94;">Nombre:</ion-label>
            <ion-note slot="end" style="color: #217E94;">{{ pet.nombre }}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label class="custom-label" style="color: #217E94;">Tipo:</ion-label>
            <ion-note slot="end" style="color: #217E94;">{{ pet.tipo }}</ion-note>
          </ion-item>
          <br>
          <ion-buttons class="ion-buttons-centered">
            <ion-button color="danger" class="button-large custom-button" (click)="deletePet(pet)">
              <ion-icon name="trash" class="icon-medium" style="color: white;"></ion-icon>
            </ion-button>
            <ion-button color="primary" class="button-large custom-button" (click)="mascotaForm('Editar', pet.id)">
              <ion-icon name="create" class="icon-medium" style="color: white;"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-item>
  
  <ion-button class="sticky-button" expand="full" (click)="mascotaForm('Crear')">Crear Mascota</ion-button>
</ion-content>

