<ion-header>
  <ion-toolbar>
    <div class="logo-container">
      <img class="titulopng" src="../../../assets/imagenes/logopng.png" alt="Logo Png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content color="black" >
  <ion-img style="padding-left: 6%;" src="/assets/imagenes/logo-petcuy.png"></ion-img>
  <form (submit)="submitForm()" [formGroup]="forgotForm" class="loginForm">
    <ion-item lines="full" *ngIf="forgotForm">
      <ion-label style="font-family: helvetica;" position="floating">Rut</ion-label>
      <ion-input style="margin-top: 20px;" type="text" name="rut" placeholder="Sin puntos ni guión" formControlName="rut" maxlength="9"></ion-input>
    </ion-item>
    <ion-text style="margin-top: -10px; font-size: 14px; padding-left: 14px;  " color="danger" *ngIf="forgotForm.get('rut')?.invalid && forgotForm.get('rut')?.touched">
      {{ getErrorMessage('rut') }}
    </ion-text>
    
    <ion-item lines="full" *ngIf="forgotForm" class="password">
      <ion-label style="margin-top: 30px; font-family: helvetica; font-size: 15px;" position="floating">Contraseña</ion-label>
      <ion-input style="margin-top: 20px; font-family: helvetica;" type="{{ showPassword ? 'text' : 'password' }}" name="password" maxlength="20" formControlName="password" required></ion-input>
      <ion-icon style="margin-top: 35px; position: relative;" id="passwordEye"
      slot="end"
      name="{{ showPassword ? 'eye-off' : 'eye' }}"
      (click)="togglePasswordVisibility()"
    ></ion-icon>
    </ion-item>
    
    <ion-button class="ion-margin-top" expand="block" type="submit" [disabled]="forgotForm.invalid">INICIAR SESIÓN</ion-button>
  </form>
  <ion-item lines="none" class="olvidePass">
    <a [routerLink]="['/olvide-contrasena']" style="font-size: 14px; text-decoration: none; font-family: helvetica;">Recuperar Contraseña</a>
  </ion-item>
  <ion-item lines="none" class="registrate">
    <a style="text-decoration: none; font-family: helvetica;" [routerLink]="['/registro']">Regístrate</a>
  </ion-item>
</ion-content>
