<ion-content>
<ion-list *ngIf="esAdminUsuarioURL()">
  <ion-title class="titulo">Información de usuarios</ion-title>
  <ion-searchbar placeholder="Filtrar Rut" [(ngModel)]="filtroRut" (ionChange)="filtrarDatos()" (input)="filtrarInput($event)" class="sticky-search"></ion-searchbar>

  <ion-item class="ion-justify-content-between" *ngFor="let entidad of datos">
    
    

    <ion-card class="users-info-card ion-no-padding">
      
      <ion-card-content>
        <ion-card *ngIf="entidad" class="user-profile-card">
          <ion-card-content>
            <div class="profile-picture">
              <ion-avatar class="avatar-circle">
                <ion-img [src]="entidad.foto" alt="Foto de perfil" *ngIf="entidad.foto; else defaultProfile"></ion-img>
              </ion-avatar>
            </div>
            <ng-template #defaultProfile>
              <ion-avatar class="avatar-circle">
                <ion-img src="assets/imagenes/profileNotFound.jpg" alt="Foto de perfil por defecto"></ion-img>
              </ion-avatar>
            </ng-template>
          </ion-card-content>
        </ion-card>
        <form (submit)="editarUsuario(entidad)" class="data-form">
          <div class="data-container">
            <div class="label-column">
              <ion-label>RUT:</ion-label>
            </div>
            <div class="input-column">
              <ion-input [(ngModel)]="entidad.rut" name="rut" required [readonly]="true"></ion-input>
            </div>
          </div>
          <div class="data-container">
            <div class="label-column">
              <ion-label>Nombre:</ion-label>
            </div>
            <div class="input-column">
              <ion-input [(ngModel)]="entidad.nombre" name="nombre" required (click)="mostrarCampoEditado('Nombre', entidad.nombre)"></ion-input>
            </div>
          </div>
          <div class="data-container">
            <div class="label-column">
              <ion-label>Apellido:</ion-label>
            </div>
            <div class="input-column">
              <ion-input [(ngModel)]="entidad.apellido" name="apellido" required (click)="mostrarCampoEditado('Apellido', entidad.apellido)"></ion-input>
            </div>
          </div>
          <div class="data-container">
            <div class="label-column">
              <ion-label>Celular:</ion-label>
            </div> 
            <div class="input-column">
              <ion-input [(ngModel)]="entidad.celular" name="celular" required (click)="mostrarCampoEditado('Celular', entidad.celular)"></ion-input>
            </div>
          </div>
          <div class="data-container">
            <div class="label-column">
              <ion-label>Correo:</ion-label>
            </div> 
            <div class="input-column">
              <ion-input [(ngModel)]="entidad.correo" name="correo" required (click)="mostrarCampoEditado('Correo', entidad.correo)"></ion-input>
            </div>
          </div>
          <div class="data-container">
            <div class="label-column">
              <ion-label>Es Admin:</ion-label>
            </div> 
            <div class="input-column">
              <ion-toggle [(ngModel)]="entidad.isAdminToggle" name="admin" (ionChange)="cambiarAdminUsuario(entidad)" aria-label="Enable Notifications"></ion-toggle>
        
            </div>
          </div>
          <div class="button-container">
            <ion-button type="submit" shape="round" color="success">Guardar cambios</ion-button>
          </div>
        </form>
        <div class="button-container">
          <ion-button shape="round" color="danger" (click)="eliminarUsuario(entidad)">
            Eliminar usuario
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>



<ion-list *ngIf="esAdminTipo_mascotaURL()">
  <ion-title class="titulo">Modificar o quitar tipo de mascota</ion-title>
  <form *ngFor="let entidad of datos" (submit)="editarTipoMascota(entidad)" class="data-form-tipo">

    <ion-card class="users-info-card ion-no-padding">

      <div class="data-container">
        <ion-input [(ngModel)]="entidad.nombre" name="nombre" style="text-align: center; font-weight: bolder;"></ion-input>
      </div>

      <div class="button-container">
        <div class="button-row">
          <ion-button type="submit" shape="round" color="primary">
            <ion-icon slot="icon-only" name="save-outline" class="icono"></ion-icon>
          </ion-button>
        </div>
        <div class="center-icons">
          <ion-button shape="round" color="danger" (click)="eliminarTipoMascota(entidad)">
            <ion-icon slot="icon-only" name="close-circle-outline" class="icono"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-card>
  </form>

  <form (ngSubmit)="agregarTipoMascota()" class="data-form-tipo">
  <ion-card class="users-info-card ion-no-padding" >

    <div class="data-container">
      <ion-input [(ngModel)]="nuevoTipoMascota" name="nombre" style="text-align: center; font-weight: bolder;" placeholder="Tipo Mascota"></ion-input>
    </div>

    <div class="button-container">
      <div class="button-row">
          <ion-button type="submit" shape="round" color="success">
            <ion-icon slot="icon-only" name="add-circle-outline" class="icono"></ion-icon>
          </ion-button>
       
        </div>
  
</div>
</ion-card>
</form>
</ion-list>



<ion-list *ngIf="esAdminTipo_anuncioURL()">
  <ion-title class="titulo" >Modificar o eliminar tipo de anuncio</ion-title>
  <form *ngFor="let entidad of datos" (submit)="editarTipoAnuncio(entidad)" class="data-form-tipo">
    <ion-card class="users-info-card ion-no-padding">
    <div class="data-container">
      
      <ion-input [(ngModel)]="entidad.nombre" name="nombre" style="text-align: center; font-weight: bolder;"></ion-input>
    </div>
    <div class="button-container">
      <div class="button-row">
      <ion-button type="submit" shape="round" color="primary"><ion-icon slot="icon-only" name="save-outline" class="icono"></ion-icon></ion-button>
    </div>
    <div class="center-icons">
      <ion-button shape="round" color="danger" (click)="eliminarTipoAnuncio(entidad)">
        <ion-icon slot="icon-only" name="close-circle-outline" class="icono"></ion-icon>
      </ion-button>
    </div>
  </div>
  </ion-card>
  </form>
  <form (ngSubmit)="agregarTipoAnuncio()" class="data-form-tipo">
    <ion-card class="users-info-card ion-no-padding" >
  
      <div class="data-container">
        <ion-input [(ngModel)]="nuevoTipoAnuncio" name="nombre" style="text-align: center; font-weight: bolder;" placeholder="Tipo Anuncio"></ion-input>
      </div>
  
      <div class="button-container">
        <div class="button-row">
            <ion-button type="submit" shape="round" color="success">
              <ion-icon slot="icon-only" name="add-circle-outline" class="icono"></ion-icon>
            </ion-button>
         
          </div>
    
  </div>
  </ion-card>
  </form>
</ion-list>

<ion-list *ngIf="esAdminEstadoURL()">
  <ion-title class="titulo" >Modificar o eliminar estado</ion-title>
  <form *ngFor="let entidad of datos" (submit)="editarEstado(entidad)" class="data-form-tipo">
    <ion-card class="users-info-card ion-no-padding">
    <div class="data-container">
      
      <ion-input [(ngModel)]="entidad.nombre" name="nombre" style="text-align: center; font-weight: bolder;"></ion-input>
    </div>
    <div class="button-container">
      <div class="button-row">
      <ion-button type="submit" shape="round" color="primary"><ion-icon slot="icon-only" name="save-outline" class="icono"></ion-icon></ion-button>
    </div>
    <div class="center-icons">
      <ion-button shape="round" color="danger" (click)="eliminarEstado(entidad)">
        <ion-icon slot="icon-only" name="close-circle-outline" class="icono"></ion-icon>
      </ion-button>
    </div>
  </div>
  </ion-card>
  </form>
  <form (ngSubmit)="agregarEstado()" class="data-form-tipo">
    <ion-card class="users-info-card ion-no-padding" >
  
      <div class="data-container">
        <ion-input [(ngModel)]="nuevoEstado" name="nombre" style="text-align: center; font-weight: bolder;" placeholder="Estado"></ion-input>
      </div>
  
      <div class="button-container">
        <div class="button-row">
            <ion-button type="submit" shape="round" color="success">
              <ion-icon slot="icon-only" name="add-circle-outline" class="icono"></ion-icon>
            </ion-button>
         
          </div>
    
  </div>
  </ion-card>
  </form>
</ion-list>

<ion-list *ngIf="esAdminMascotaURL()">
  <ion-title class="titulo" >Modificar o eliminar mascota</ion-title>
  <ion-searchbar placeholder="Filtrar Rut del Dueño" [(ngModel)]="filtroRut" (ionChange)="filtrarDatosMascota()" (input)="filtrarInput($event)" class="sticky-search"></ion-searchbar>
  <ion-item class="ion-justify-content-between" *ngFor="let entidad of datos">

    <ion-card class="users-info-card ion-no-padding">
      <ion-card-content>
        <form (submit)="editarMascota(entidad)" class="data-form">
      <div class="data-container">
        <div class="label-column">
          <ion-label style="padding-left: 10%; font-weight: bolder; width: 200%;">RUT del dueño:</ion-label>
        </div>
        <div class="input-column">
        <ion-input [(ngModel)]="entidad.dueno" name="dueno" style="text-align: center; font-weight: bolder;" [readonly]="true"></ion-input>
        </div>
      </div>
    <div class="data-container">
      <div class="label-column">
        <ion-label style="padding-left: 10%; font-weight: bolder;">Nombre:</ion-label>
      </div>
      <div class="input-column">
      <ion-input [(ngModel)]="entidad.nombre" name="nombre" style="text-align: center;"></ion-input>
      </div>
    </div>
   
    <img [src]="entidad.foto_1" alt="Foto de mascota" class="img-mascota" style="width: 60%;">
    <div class="button-container">
      <div class="button-row">
      <ion-button type="submit" shape="round" color="primary"><ion-icon slot="icon-only" name="save-outline" class="icono"></ion-icon></ion-button>
    </div>
    <div class="center-icons">
      <ion-button shape="round" color="danger" (click)="eliminarMascota(entidad)">
        <ion-icon slot="icon-only" name="close-circle-outline" class="icono"></ion-icon>
      </ion-button>
    </div>
  </div>
</form>
    </ion-card-content>
  </ion-card>

</ion-item>
</ion-list>

<ion-list *ngIf="esAdminAnuncioURL()">
  <ion-title class="titulo">Información de anuncios</ion-title>
  <ion-searchbar placeholder="Filtrar Rut Autor" [(ngModel)]="filtroRut" (ionChange)="filtrarDatosAnuncio()" (input)="filtrarInput($event)" class="sticky-search"></ion-searchbar>

  <ion-item class="ion-justify-content-between" *ngFor="let entidad of datos">
    <ion-card class="users-info-card ion-no-padding">
      <ion-card-content>
        <ion-card *ngIf="entidad" class="user-profile-card">
          <ion-card-content>
            <div class="image-column" style="display: flex; justify-content: center; align-items: center;">
              <img [src]="entidad.mascota.foto_1" alt="Imagen de mascota" style="width: 50%;">
            </div>
          </ion-card-content>
          
          </ion-card>
          <form (submit)="editarUsuario(entidad)" class="data-form">
            <div class="data-container" style="padding-bottom: 10px;">
              <div class="label-column">
                <ion-label>Autor:</ion-label>
              </div>
              <div class="input-column">
                <ion-input style="font-weight:initial;">{{ entidad.autor }}</ion-input>
              </div>
            </div>
            <div class="data-container" style="padding-bottom: 10px;">
              <div class="label-column">
                <ion-label>Contacto:</ion-label>
              </div>
              <div class="input-column">
                <ion-label style="font-weight:initial;">{{ entidad.contacto }}</ion-label>
              </div>
            </div>
            <div class="data-container" style="padding-bottom: 10px;">
              <div class="label-column">
                <ion-label>Mascota:</ion-label>
              </div>
              <div class="input-column">
                <ion-label style="font-weight:initial;">{{ entidad.mascota.nombre }}</ion-label>
              </div>
            </div>
            <div class="data-container" style="padding-bottom: 10px;">
              <div class="label-column" style="align-self: flex-start;">
                <ion-label>Descripcion:</ion-label>
              </div>
              <div class="input-column">
                <ion-input style="font-weight:initial;" [readonly]="true" multiline>{{ entidad.descripcion }}</ion-input>
              </div>
            </div>
            <div class="data-container" style="padding-bottom: 10px;">
              <div class="label-column">
                <ion-label>Fecha:</ion-label>
              </div>
              <div class="input-column">
                <ion-label style="font-weight:initial;">{{ entidad.fecha }}</ion-label>
              </div>
            </div>
          </form>
          
        <div class="button-container">
          <ion-button shape="round" color="danger" (click)="eliminarUsuario(entidad)">
            Eliminar anuncio
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>
</ion-content>