.users-info-card {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.titulo {
  text-align: center;
  padding-top: 16px;
}

ion-icon{
  font-size: 30px; /* Ajusta el tamaño del icono según tus necesidades */
  margin: 0 20px; /* Ajusta el espacio horizontal entre los iconos según tus necesidades */
  justify-content: center;
}