ion-toggle {
  padding: 12px;

  --handle-width: 20px;
  --handle-height: 20px;
  --handle-max-height: auto;
  --handle-spacing: 6px;

  contain: none;
}

ion-toggle::part(track),
ion-toggle.toggle-checked::part(track) {
  height: 10px;
  width: 55px;

  background: #ddd;

  /* Required for iOS handle to overflow the height of the track */
  overflow: visible;
}

ion-toggle::part(handle) {
  background: #eb7769;

  border-radius: 4px;
  box-shadow: none;
}

ion-toggle.toggle-checked::part(handle) {
  background: #95c34e;
}

.users-info-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 2px 2px 6px 6px rgba(0, 0, 0, 0.2);
  
}
.user-profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0);
}
.avatar-circle {
  width: 200px;
  height: 200px;
  display: flex;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


.titulo {
  text-align: center;
  padding-top: 16px;
  font-weight: bold;
}
.sticky-search {
  position: sticky;
  top: 0;
  z-index: 999;
}
.data-container {
  display: flex;
  align-items: center;
  width: 100%;
  
}

.label-column {
  width: 35%;
}

.input-column {
  width: 65%;
}

.data-form {
  display: flex;
  flex-wrap: wrap;
}

.button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ion-label{
  padding-right: 0%;
}


.button-container {
  display: flex;
  justify-content: center;
}

.button-row {
  display: flex;
  gap: 8px; /* Espacio entre los botones */
}
.data-form-tipo {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.img-mascota {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
  padding-top: 5%;
}
